@charset "UTF-8";

.hide {
	display: none;
}

a {
  text-decoration: none;
}

body {
	font-family: 'Georama', Helvetica, Arial, sans-serif;
  background-color: #fffcf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.textBio {
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  color: #1c1f75;
  margin-bottom: 10px;
  text-decoration: underline;
}

.profileCont {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.gonzaloCont {
  margin-right: 40px;
}

.gonzaloCont img:hover {
  padding: 10px;
  max-width: 360px;
  border-radius: 200px;
  border: 3px solid #ce9500;
  cursor: pointer;
}

.lissCont img:hover {
  padding: 10px;
  max-width: 360px;
  border-radius: 200px;
  border: 3px solid #ce9500;
  cursor: pointer;
}

.lissCont {
  margin-left: 40px;
}

.GinfoCont {
  display: flex;
  flex-direction: column;
  /*! justify-content: center; */
  margin-right: 25px;
  max-width: 400px;
}
.LinfoCont {
  display: flex;
  flex-direction: column;
  /*! justify-content: center; */
  margin-left: 25px;
  max-width: 400px;
}

.GnameInfo {
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  text-align: right;
  font-size: 40px;
  color: #1c1f75;
  margin-bottom: 10px;
}
.LnameInfo {
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  text-align: left;
  font-size: 40px;
  color: #1c1f75;
  /*! margin-bottom: 10px; */
}
.GresumeInfo {
  font-family: 'Georama', Helvetica;
  font-weight: 700;
  text-align: right;
  color: #ce9500;
  font-size: 20px;
  margin-bottom: 10px;
}
.LresumeInfo {
  font-family: 'Georama', Helvetica;
  font-weight: 700;
  text-align: left;
  color: #ce9500;
  font-size: 20px;
  /*! margin-bottom: 10px; */
}
.Gparagraph {
  font-family: 'Georama', Helvetica;
  font-weight: 300;
  text-align: right;
  color: #666666;
  font-size: 13px;
  margin-bottom: 10px;
}
.Lparagraph {
  text-align: left;
  font-family: 'Georama', Helvetica;
  font-weight: 300;
  color: #666666;
  font-size: 15px;
  /*! margin-bottom: 10px; */
}
.goBack {
	font-family: 'Hahmlet', serif;
	font-weight: 900;
  text-align: right;
	width: 68px;
}

.goBackG {
	font-family: 'Hahmlet', serif;
	font-weight: 900;
  text-align: left;
	width: 68px;
	display: flex;
	/*! justify-content: right; */
}
.goBackG:hover {
  border-bottom: 3px solid #ce9500;
	transition: all .1s ease;
}
.goBack:hover {
  border-bottom: 3px solid #ce9500;
	transition: all .1s ease;
}

.LImg {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.GImg {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
